ul {
    list-style-type: none;
}
li {
    margin-top: 22px;
}
@media screen and (min-width: 980px) {
    .column:first-of-type {
        margin-left: 15px;
    }
    .column:last-of-type {
        margin-right: 15px;
    }
}
.tag {
    height:20px;
    vertical-align: middle;
}
img {
    margin-top:10px;
    border-radius: 5px;
}
i {
    margin-right: 5px;
}
.button {
    border-radius: 5px;
    vertical-align: middle;
}
.tweetLabel {
    margin-left: 2px;
}
.notes {
    font-size: 90%;
}
.tweetInfo {
    margin-top: 10px;
}
.box {
    position: relative;
    top:-3px;
}
.fa-times {
    color:#ed6c63;
    margin-left: 10px;
}
section {
    margin-bottom: 20px;
}
.subtitle {
    margin-left: 5px;
}
input {
    border-radius: 4px;
    border: none;
    border-bottom: solid 2px white;
    padding:7px;
    text-align: center;
}
input:focus {
    outline:none;
}
.fa-plus-circle {
    color:#97cd76;
    margin-left: 8px;
}
.editList {
    margin-left: 45%;
    margin-top: 5%;
}
