
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container level">
      <div class="level-left">
          <h1 class="title">
            tweetDash
          </h1>
          <h2 class="subtitle">
            by <a href="http://jontejada.com">jontejada.com</a>
          </h2>
      </div>
      <div class="level-right">
        <!-- <input class="level-item" placeholder="search tweets" type="text" name="search" ng-model="search"> -->
        <a class="level-item button is-warning" href="/#/tweets">back to tweet view</a>
      </div>
    </div>
  </div>
</section>

<ul>
	<li ng-repeat="user in users">
		<i ng-click="removeUser(user)" class="fa fa-times fa-lg"></i>
		@{{user}}
	</li>
	<li>
		<input placeholder="add user" ng-model="userInput"><i ng-click="addUser(userInput)" class="fa fa-plus-circle fa-lg"></i>
	</li>
</ul>